@model Sklep_z_truciznami.Models.LatestAndMostPopularProducts

@{
    ViewBag.Title = "Strona główna";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href='@Url.Action("Shipping","Home")'>
                <img src="~/Content/images/slider/slide01.jpg" alt="slide01">
                <div class="carousel-caption">
                </div>
            </a>
        </div>
        <div class="item">
            <a href='@Url.Action("ValentinesDay", "Home")'>
                @*<img src="Content\images\slider\slide02.jpg" alt="slide02">*@
                <img src="~/Content/images/slider/slide02.jpg" alt="slide02">
                <div class="carousel-caption">
                </div>
            </a>
        </div>
        <div class="item">
            <a href='@Url.Action("Sale", "Home")'>
                <img src="~/Content/images/slider/slide03.jpg" alt="slide03">
                <div class="carousel-caption">
                </div>
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">poprzedni</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">następny</span>
    </a>
</div>

<hr class="divider">


<div class="left_row">
    <h2 class="h2_special">Najnowsze</h2>
    <div class="row">
        @foreach (var item in Model.Latest)
        {
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <img class="product_thumbnail" src="@Url.Action("Show", "Products", new { id = @item.ProductId } )" alt="product" style="max-width: 450px; min-height: 200px;" />
                    <div class="caption">
                        <h3 class="title">@item.ProductName</h3>
                        <p>@item.ProductDescription</p>
                        <p>
                            <a href="@Url.Action("AddProductToCart", "Order", new { productID = @item.ProductId, quantity = 1 })" class="btn btn-primary" role="button">Dodaj do koszyka</a>
                            <a href="@Url.Action("Details", "Products", new {id = @item.ProductId})" class="btn btn-default" role="button">Szczegóły</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div class="right_row">
    <h2 class="h2_special">Najpopularniejsze</h2>
    <div class="row">
        @foreach (var item in Model.MostPopular)
        {
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <img src="@Url.Action("Show", "Products", new { id = @item.ProductId } )" alt="product" style="max-width: 450px; min-height: 200px;" />
                    <div class="caption">
                        <h3>@item.ProductName</h3>
                        <p>@item.ProductDescription</p>
                        <p>
                            <a href="@Url.Action("Details", "Products", new {id = @item.ProductId})" class="btn btn-default" role="button">Szczegóły</a>
                            <a href="@Url.Action("AddProductToCart", "Order", new { productID = @item.ProductId, quantity = 1 })" class="btn btn-primary" role="button">Dodaj do koszyka</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
