@model Sklep_z_truciznami.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Dane adresowe:</dt>
        <dd>
            @Model.FirstName @Model.LastName<br />
            @Model.StreetAndNumber<br />
            @Model.City<br />
            @Model.ZipCode<br />
        </dd>
        <dd>
            [@Html.ActionLink("Zmień dane", "ChangeData")]
        </dd>
</dl>
</div>
