@{
    ViewBag.Title = "Złóż zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:40px auto">Złóż zamówienie</h2>

@if (Session["order"] != null && (Session["order"] as Dictionary<Sklep_z_truciznami.Models.Product, int>).Count != 0)
{
    double overallPrice = 0;
    <table class="table">
        <thead>
            <tr>
                <th style="width:15%">
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
                <th >
                    Ilość
                </th>
                <th>
                    Cena
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var PairProductQuantity in Session["order"] as Dictionary<Sklep_z_truciznami.Models.Product, int>)
            {
                double price = PairProductQuantity.Key.Quantity * PairProductQuantity.Value;
                overallPrice += price;
                <tr>
                    <td>@PairProductQuantity.Key.ProductName</td>
                    <td>@PairProductQuantity.Key.ProductDescription</td>
                    <td>@PairProductQuantity.Value.ToString()</td>
                    <td>@(price.ToString() + " zł")</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Suma: </td>
                <td font:bold">@overallPrice zł</td>
            </tr>
        </tbody>
</table>
    <div>
        @using (Html.BeginForm("PlaceOrder", "Order"))
        {
            @Html.Hidden("acceptance", true)
            <button type="submit" class="btn btn-primary">
                Zatwierdź zamówienie
            </button>
        }
</div>
}
else
{
    @Html.Label("koszyk jest pusty");
}