@model IEnumerable<Sklep_z_truciznami.Models.Product>

@{
    ViewBag.Title = "Produkty";
}

<h2>Zarządzanie produktami</h2>

<p>
    @Html.ActionLink("Dodaj produkt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RatingSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingNumber)
        </th>
        <th style="width:100px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @EnumsHelper.GetName(item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RatingSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingNumber)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ProductId }) 
            <span id="update"></span>
</td>
    </tr>
}

</table>