@model IEnumerable<Sklep_z_truciznami.Models.Product>

@{ if (Model != null && Model.Count<Sklep_z_truciznami.Models.Product>() > 0) { 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingSum)
        </th>        
        <th style="width:100px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div id="img">
                    <div id="">
                        <a href="@Url.Action("Details", "Products",new {id=@item.ProductId} )" title="@item.ProductName" rel="nofollow"><img style="height:100px; width:120px; background-position:center; background-size:cover; padding-left:10px;padding-right:10px " src="@Url.Action("Show", "Products", new { id = @item.ProductId } )" alt="@item.ProductName"></a>
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink(item.ProductName, "Details", "Products", new { id = item.ProductId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @EnumsHelper.GetName(item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RatingSum)
            </td>
            <td>
                <a href="#" onclick="Details(@item.ProductId)" id="btnTest">Dodaj do koszyka</a>
            </td>
        </tr>
    }

</table>
}
else
   {
       Html.Label("Brak wpisów do wyświetlenia");
   }
}

<script type="text/javascript">
    function Details(productId) {
        $.get("AddProductToCart", { productID: productId, quantity: 1 }, function (data) { updateCart(data) });              
    };
    function updateCart(data) {
        $("#cart").replaceWith('<li id="cart">'+data+'</li>');
        
    }
</script>