@using Sklep_z_truciznami.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2 style="margin-top:40px">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zaloguj" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:30px">
        <p>
            @*@Html.ActionLink("Stwórz nowe konto", "Register")*@
            @*<button type="button" class="btn btn-primary">@Url.Action("Register", "Account")</button>*@
            <input type="button" class="btn btn-primary" value="Stwórz nowe konto" onclick="location.href='@Url.Action("Register", "Account")'" style="margin-right:6px"/> w sklepie
            <img src="~/Content/images/logo2.png" alt="logo">

        </p>
    </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}