<div class="productListContainer" style="display: block;">
    <div id="products">
        <div id="productListOnHover">
            <div id="productsViewport">
                <ul style="padding-left:3px; padding-top:7px" id=" itemlist">
                    @{
                        if (Session["order"] != null)
                        {
                            foreach (var item in Session["order"] as Dictionary<Sklep_z_truciznami.Models.Product, int>)
                            {
                                <li id="item" style="display:flex;">
                                    <div id="img">
                                        <div id="">
                                            <a href="#" title="@item.Key.ProductName" rel="nofollow"><img style="height:70px; width:90px; background-position:center; padding-left:10px;padding-right:10px " src="@Url.Action("Show", "Products", new { id = @item.Key.ProductId } )" alt="@item.Key.ProductName"></a>
                                        </div>
                                    </div>
                                    <div id="info">
                                        <p id="name" style="width:150px">
                                            <span id="quantity"><b>@item.Value</b> <span style="color:#808080">x</span> </span>
                                            <span id="Title">
                                                @Html.ActionLink(item.Key.ProductName, "Details", "Products", new { id = item.Key.ProductId }, null)
                                            </span>
                                        </p>
                                        <p id="category">@EnumsHelper.GetName(item.Key.Category)</p>
                                    </div>
                                </li>
                                <li id="item2" style="display:flex">
                                    <div style="height:10px"></div>
                                </li>
                            }
                        }
                    }

                </ul>
            </div>
            <div style="text-align:center">
                @Html.ActionLink("Przejdź do koszyka", "ShowCart", "Order")
            </div>
            
        </div>

    </div>
</div>